<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %} 改密码 {% endblock %}

{% block body %}


    <div class="container">
        <form class="form" action="#" method="post">
            {% csrf_token %}
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <h3 align="right">旧密码:</h3>
                    </div>
                    <div class="col-md-3">
                        <br>
                        <input class="form-control" type="password" name="old_password" placeholder="密码">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <h3 align="right">新密码:</h3>
                    </div>
                    <div class="col-md-3">
                        <br>
                        <input class="form-control" type="password" name="new_password" placeholder="密码">
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div align="center">
                    <button class="btn btn-default"> 提交 </button>
                </div>
        </form>
    </div>
{% endblock %}
